@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default Light Mode colors */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Colors when the 'dark' class is active */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  transition: background-color 0.3s ease, color 0.3s ease;
}